# <center>ML-Recommendation System</center>

Dataset acquired from GroupLens

In [1]:
import pandas as pd
from math import sqrt
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

Now let's read each file into their Dataframes:

In [2]:
movies_df = pd.read_csv('data/movies.csv')
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
ratings_df = pd.read_csv('data/ratings.csv')
ratings_df.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

Let's also remove the year from the __title__ column by using pandas' replace function and store in a new __year__ column.

In [4]:
movies_df['year'] = movies_df.title.str.extract('(\(\d\d\d\d\))',expand=False)
#Removing the parentheses
movies_df['year'] = movies_df.year.str.extract('(\d\d\d\d)',expand=False)
#Removing the years from the 'title' column
movies_df['title'] = movies_df.title.str.replace('(\(\d\d\d\d\))', '')
#Applying the strip function to get rid of any ending whitespace characters that may have appeared
movies_df['title'] = movies_df['title'].apply(lambda x: x.strip())
movies_df.head()

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

Let's also split the values in the __Genres__ column into a __list of Genres__ to simplify future use. This can be achieved by applying Python's split string function on the correct column.

In [5]:
movies_df['genres'] = movies_df.genres.str.split('|')
movies_df.head()

,movieId,title,genres,year
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995
2,3,Grumpier Old Men,"[Comedy, Romance]",1995
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995
4,5,Father of the Bride Part II,[Comedy],1995

Since keeping genres in a list format isn't optimal for the content-based recommendation system technique, we will use the One Hot Encoding technique to convert the list of genres to a vector where each column corresponds to one possible value of the feature. This encoding is needed for feeding categorical data. In this case, we store every different genre in columns that contain either 1 or 0. 1 shows that a movie has that genre and 0 shows that it doesn't. Let's also store this dataframe in another variable since genres won't be important for our first recommendation system.

In [6]:
moviesWithGenres_df = movies_df.copy()

#For every row in the dataframe, iterate through the list of genres and place a 1 into the corresponding column
for index, row in movies_df.iterrows():
    for genre in row['genres']:
        moviesWithGenres_df.at[index, genre] = 1
#Filling in the NaN values with 0 to show that a movie doesn't have that column's genre
moviesWithGenres_df = moviesWithGenres_df.fillna(0)
moviesWithGenres_df.head()

,movieId,title,genres,year,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men,"[Comedy, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II,[Comedy],1995,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Next, let's look at the ratings dataframe.

In [7]:
ratings_df.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

Every row in the ratings dataframe has a user id associated with at least one movie, a rating and a timestamp showing when they reviewed it. We won't be needing the timestamp column, so let's drop it.

In [8]:
ratings_df = ratings_df.drop('timestamp', 1)
ratings_df.head()

   userId  movieId  rating
0       1      110     1.0
1       1      147     4.5
2       1      858     5.0
3       1     1221     5.0
4       1     1246     5.0

Let's create user input to recommend movies to:

Write movie names with capital letters and if a movie starts with a "The", like "The Matrix" then write it in like this: 'Matrix, The' .

In [9]:
userInput = [
            {'title':'Return of the King, The', 'rating':5},
            {'title':'Fellowship of the Ring, The', 'rating':5},
            {'title':'Inception', 'rating':4},
            {'title':"Two Towers, The", 'rating':5},
            {'title':'Interstellar', 'rating':5}
         ] 
inputMovies = pd.DataFrame(userInput)
inputMovies

   rating                        title
0       5      Return of the King, The
1       5  Fellowship of the Ring, The
2       4                    Inception
3       5              Two Towers, The
4       5                 Interstellar

With the input complete, let's extract the input movie's ID's from the movies dataframe and add them into it.

We can achieve this by first filtering out the rows that contain the input movie's title and then merging this subset with the input dataframe. We also drop unnecessary columns

In [10]:
#Filtering out the movies by title
inputId = movies_df[movies_df['title'].isin(inputMovies['title'].tolist())]
#merging it so we can get the movieId
inputMovies = pd.merge(inputId, inputMovies)
#Dropping information we won't use from the input dataframe
inputMovies = inputMovies.drop('genres', 1).drop('year', 1)

inputMovies

   movieId                    title  rating
0    79132                Inception       4
1    82904  Return of the King, The       5
2   109487             Interstellar       5

In [11]:
inputId

,movieId,title,genres,year
15562,79132,Inception,"[Action, Crime, Drama, Mystery, Sci-Fi, Thrill...",2010
16446,82904,"Return of the King, The","[Adventure, Animation, Fantasy, Musical]",1980
23044,109487,Interstellar,"[Sci-Fi, IMAX]",2014

We're going to start by learning the input's preferences, so let's get the subset of movies that the input has watched from the Dataframe containing genres defined with binary values.

In [12]:
userMovies = moviesWithGenres_df[moviesWithGenres_df['movieId'].isin(inputMovies['movieId'].tolist())]
userMovies

,movieId,title,genres,year,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
15562,79132,Inception,"[Action, Crime, Drama, Mystery, Sci-Fi, Thrill...",2010,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
16446,82904,"Return of the King, The","[Adventure, Animation, Fantasy, Musical]",1980,1.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
23044,109487,Interstellar,"[Sci-Fi, IMAX]",2014,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

We'll only need the actual genre table, so let's clean this up a bit by resetting the index and dropping the movieId, title, genres and year columns.

In [13]:
userMovies = userMovies.reset_index(drop=True)

userGenreTable = userMovies.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('year', 1)
userGenreTable

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

Let's turn each genre into weights. We can do this by using the input's reviews and multiplying them into the input's genre table and then summing up the resulting table by column.

In [14]:
inputMovies['rating']

0    4
1    5
2    5
Name: rating, dtype: int64

In [15]:
#Dot produt to get weights
userProfile = userGenreTable.transpose().dot(inputMovies['rating'])
userProfile

Adventure             5.0
Animation             5.0
Children              0.0
Comedy                0.0
Fantasy               5.0
Romance               0.0
Drama                 4.0
Action                4.0
Crime                 4.0
Thriller              4.0
Horror                0.0
Mystery               4.0
Sci-Fi                9.0
IMAX                  9.0
Documentary           0.0
War                   0.0
Musical               5.0
Western               0.0
Film-Noir             0.0
(no genres listed)    0.0
dtype: float64

Now, we have the weights for every of the user's preferences. Using this, we can recommend movies that satisfy the user's preferences.

Let's start by extracting the genre table from the original dataframe:

In [16]:
#Now let's get the genres of every movie in our original dataframe
genreTable = moviesWithGenres_df.set_index(moviesWithGenres_df['movieId'])
#And drop the unnecessary information
genreTable = genreTable.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('year', 1)
genreTable.head()

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
movieId,,,,,,,,,,,,,,,,,,,,
1,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
genreTable.shape

(34208, 20)

With the input's profile and the complete list of movies and their genres in hand, we're going to take the weighted average of every movie based on the input profile and recommend the top twenty movies that most satisfy it.

In [18]:
#Multiply the genres by the weights and then take the weighted average
recommendationTable_df = ((genreTable*userProfile).sum(axis=1))/(userProfile.sum())
recommendationTable_df.head()

movieId
1    0.258621
2    0.172414
3    0.000000
4    0.068966
5    0.000000
dtype: float64

In [19]:
recommendationTable_df = recommendationTable_df.sort_values(ascending=False)
recommendationTable_df.head()

movieId
79132    0.655172
5018     0.603448
26701    0.586207
60684    0.586207
32031    0.568966
dtype: float64

Now here's the recommendation table!

In [20]:
movies_df.loc[movies_df['movieId'].isin(recommendationTable_df.head(20).keys())]

,movieId,title,genres,year
4923,5018,Motorama,"[Adventure, Comedy, Crime, Drama, Fantasy, Mys...",1991
6261,6365,"Matrix Reloaded, The","[Action, Adventure, Sci-Fi, Thriller, IMAX]",2003
6793,6902,Interstate 60,"[Adventure, Comedy, Drama, Fantasy, Mystery, S...",2002
6823,6934,"Matrix Revolutions, The","[Action, Adventure, Sci-Fi, Thriller, IMAX]",2003
9000,26701,Patlabor: The Movie (Kidô keisatsu patorebâ: T...,"[Action, Animation, Crime, Drama, Film-Noir, M...",1989
9825,32031,Robots,"[Adventure, Animation, Children, Comedy, Fanta...",2005
10872,43932,Pulse,"[Action, Drama, Fantasy, Horror, Mystery, Sci-...",2006
11806,52462,Aqua Teen Hunger Force Colon Movie Film for Th...,"[Action, Adventure, Animation, Comedy, Fantasy...",2007
11838,52722,Spider-Man 3,"[Action, Adventure, Sci-Fi, Thriller, IMAX]",2007
12873,60684,Watchmen,"[Action, Drama, Mystery, Sci-Fi, Thriller, IMAX]",2009
14397,71999,Aelita: The Queen of Mars (Aelita),"[Action, Adventure, Drama, Fantasy, Romance, S...",1924
15230,77561,Iron Man 2,"[Action, Adventure, Sci-Fi, Thriller, IMAX]",2010
15562,79132,Inception,"[Action, Crime, Drama, Mystery, Sci-Fi, Thrill...",2010
16884,85261,Mars Needs Moms,"[Action, Adventure, Animation, Children, Comed...",2011
17537,88125,Harry Potter and the Deathly Hallows: Part 2,"[Action, Adventure, Drama, Fantasy, Mystery, I...",2011
20681,101076,G.I. Joe: Retaliation,"[Action, Adventure, Sci-Fi, Thriller, IMAX]",2013
21210,103042,Man of Steel,"[Action, Adventure, Fantasy, Sci-Fi, IMAX]",2013
21403,103651,Tai Chi Hero,"[Action, Comedy, Drama, Fantasy, Sci-Fi, IMAX]",2012
24565,115479,"Whip Hand, The","[Action, Adventure, Crime, Drama, Sci-Fi, Thri...",1951
24602,115669,Young Detective Dee: Rise of the Sea Dragon (D...,"[Action, Adventure, Drama, Fantasy, Mystery, I...",2013

---------

### User Input

In [22]:
movieCount = int(input("Enter number of movies: "))

Enter number of movies: 2

In [23]:
userInputMovie = []
userInputRating = []
x = range(movieCount)
for n in x:
    userInputMovie_1 = input("Please enter a movie name: ").capitalize()
    userInputRating_1 = float(input("Please enter rating for that movie out of 5: "))
    userInputMovie.append(userInputMovie_1)
    userInputRating.append(userInputRating_1)
movieData = {"title":userInputMovie, "rating":userInputRating}
#inputTable = pd.DataFrame([[userInputMovie, userInputRating]], columns = ["title", "rating"])
inputTable = pd.DataFrame(movieData)
inputTable

Please enter a movie name: inception
Please enter rating for that movie out of 5: 4.5
Please enter a movie name: interstellar
Please enter rating for that movie out of 5: 4

          title  rating
0     Inception     4.5
1  Interstellar     4.0

In [24]:
#Filtering out the movies by title
inputId_1 = movies_df[movies_df['title'].isin(inputTable['title'].tolist())]
#merging it so we can get the movieId
inputMovies_1 = pd.merge(inputId_1, inputTable)
#Dropping information we won't use from the input dataframe
inputMovies_1 = inputMovies_1.drop('genres', 1).drop('year', 1)

inputMovies_1

   movieId         title  rating
0    79132     Inception     4.5
1   109487  Interstellar     4.0

In [25]:
userMovies_1 = moviesWithGenres_df[moviesWithGenres_df['movieId'].isin(inputMovies_1['movieId'].tolist())]
userMovies_1

,movieId,title,genres,year,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
15562,79132,Inception,"[Action, Crime, Drama, Mystery, Sci-Fi, Thrill...",2010,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
23044,109487,Interstellar,"[Sci-Fi, IMAX]",2014,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
userMovies_1 = userMovies_1.reset_index(drop=True)

userGenreTable_1 = userMovies_1.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('year', 1)
userGenreTable_1

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
inputMovies_1['rating']

0    4.5
1    4.0
Name: rating, dtype: float64

In [28]:
#Dot produt to get weights
userProfile_1 = userGenreTable_1.transpose().dot(inputMovies_1['rating'])
userProfile_1

Adventure             0.0
Animation             0.0
Children              0.0
Comedy                0.0
Fantasy               0.0
Romance               0.0
Drama                 4.5
Action                4.5
Crime                 4.5
Thriller              4.5
Horror                0.0
Mystery               4.5
Sci-Fi                8.5
IMAX                  8.5
Documentary           0.0
War                   0.0
Musical               0.0
Western               0.0
Film-Noir             0.0
(no genres listed)    0.0
dtype: float64

In [29]:
#Now let's get the genres of every movie in our original dataframe
genreTable_1 = moviesWithGenres_df.set_index(moviesWithGenres_df['movieId'])
#And drop the unnecessary information
genreTable_1 = genreTable_1.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('year', 1)
genreTable_1.head()

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
movieId,,,,,,,,,,,,,,,,,,,,
1,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
#Multiply the genres by the weights and then take the weighted average
recommendationTable_df_1 = ((genreTable_1*userProfile_1).sum(axis=1))/(userProfile_1.sum())
recommendationTable_df_1.head()

movieId
1    0.000000
2    0.000000
3    0.000000
4    0.113924
5    0.000000
dtype: float64

In [31]:
recommendationTable_df_1 = recommendationTable_df_1.sort_values(ascending=False)
recommendationTable_df_1.head()

movieId
79132    1.000000
60684    0.886076
198      0.784810
26701    0.784810
43932    0.670886
dtype: float64

In [32]:
recomendedMovies = movies_df.loc[movies_df['movieId'].isin(recommendationTable_df_1.head(20).keys())]
recomendedMovies

,movieId,title,genres,year
196,198,Strange Days,"[Action, Crime, Drama, Mystery, Sci-Fi, Thriller]",1995
515,519,RoboCop 3,"[Action, Crime, Drama, Sci-Fi, Thriller]",1993
1826,1909,"X-Files: Fight the Future, The","[Action, Crime, Mystery, Sci-Fi, Thriller]",1998
2900,2985,RoboCop,"[Action, Crime, Drama, Sci-Fi, Thriller]",1987
4923,5018,Motorama,"[Adventure, Comedy, Crime, Drama, Fantasy, Mys...",1991
5349,5445,Minority Report,"[Action, Crime, Mystery, Sci-Fi, Thriller]",2002
9000,26701,Patlabor: The Movie (Kidô keisatsu patorebâ: T...,"[Action, Animation, Crime, Drama, Film-Noir, M...",1989
10427,37462,Wedlock,"[Action, Crime, Drama, Sci-Fi, Thriller]",1991
10872,43932,Pulse,"[Action, Drama, Fantasy, Horror, Mystery, Sci-...",2006
12873,60684,Watchmen,"[Action, Drama, Mystery, Sci-Fi, Thriller, IMAX]",2009
13564,67197,Knowing,"[Action, Drama, Mystery, Sci-Fi, Thriller]",2009
15562,79132,Inception,"[Action, Crime, Drama, Mystery, Sci-Fi, Thrill...",2010
16929,85414,Source Code,"[Action, Drama, Mystery, Sci-Fi, Thriller]",2011
17152,86644,"Fast Five (Fast and the Furious 5, The)","[Action, Crime, Drama, Thriller, IMAX]",2011
17980,90005,Ticking Clock,"[Action, Crime, Mystery, Sci-Fi, Thriller]",2011
21403,103651,Tai Chi Hero,"[Action, Comedy, Drama, Fantasy, Sci-Fi, IMAX]",2012
22887,108945,RoboCop,"[Action, Crime, Sci-Fi, IMAX]",2014
24251,114166,"Groundstar Conspiracy, The","[Action, Crime, Mystery, Romance, Sci-Fi, Thri...",1972
24565,115479,"Whip Hand, The","[Action, Adventure, Crime, Drama, Sci-Fi, Thri...",1951
26600,123449,Talking to Heaven,"[Crime, Drama, Mystery, Sci-Fi, Thriller]",2002

In [ ]:
movieNameSearch = input("Please enter the name of the movie: ").capitalize()
boolean_finding = movies_df[movies_df["title"].str.contains(movieNameSearch)] 
print(boolean_finding)

movieNameSearch = input("Please enter the name of the movie: ")
boolean_finding = movies_df['title'].str.contains(movieNameSearch).any()
if(boolean_finding):
    print("Yes, the movie is present in the database")
else:
    print("No, the movie is NOT present in the database")

In [52]:
import pymongo
from config import mongoDBinfo
from pymongo import MongoClient
client = pymongo.MongoClient(mongoDBinfo)
db = client.test

In [53]:
print(client.list_database_names())

['admin', 'local']

https://www.kaggle.com/ashishsaxena2209/tutorial-to-use-mongodb-atlas-cloud-service

In [54]:
mydb = client["mydatabase"]
mycol = mydb["movies"]

In [55]:
collist = mydb.list_collection_names()
if "movies" in collist:
    print("The collection exists.")